<!DOCTYPE html>
<html>
	<head>
	  <link type="text/css" rel="stylesheet" href="/css/main.css">
	  <title>Momoko's Blog App</title>
	</head>

	<body>
		<h1><a href="/" class="main-title"> Momoko's Blog App </a></h1>
		<div class="login-area">
			{% if user %}
				{{user.name}} (<a class="login-link" href="/logout">logout</a>)
			{% else %}
				<a class="login-link" href="/login">login</a>
				|
				<a class="login-link" href="/signup">signup</a>
			{% endif %}
		</div>
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
		<div><a href='/' class="home"> Back to homepage </a></div>
	</body>

</html>

