<div class="comment">

	<div class="comment-content">
		{{comment._render_text | safe}}
	</div>

	<div class="comment-author-date">
		commented by {{comment.user.name}}, &nbsp; {{comment.last_modified_time.strftime("%b %d, %Y")}}
	</div>

	{% if comment.user.name == user.name %}
		<div class="manage-comment">
			<form method="comment">
				<button type="submit">
					<a class="btn" href="/blog/{{post.key().id()}}/comment/{{comment.key().id()}}/edit">Edit</a>
				</button>
				<button type="submit">
					<a class="btn" href="/blog/{{post.key().id()}}/comment/{{comment.key().id()}}/delete">Delete</a>
				</button>
			</form>
		</div>
	{% endif%}

</div>
