{% extends "base.html" %}

{% block content %}
  <h2>Edit what you want &#x263a;</h2>

    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <button type="submit">Submit</button>
      <button type="submit"><a href="/blog/{{post.key().id()}}" class="cancel">
        Cancel</a></button>
    </form>
{% endblock %}
