{% extends "base.html" %}

{% block content %}
  <h2>What do you want to post today &#x263a;</h2>

    <form method="post" class="post-area">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <button type="submit">Submit</button>
      <button type="submit"><a href="/" class="btn">Cancel</a></button>
    </form>
{% endblock %}
