body {
	font-family: courier;
	width: 80%;
	margin: 0 auto;
	padding: 1vw;
}

.home {
	text-shadow: 3px 3px 3px #aaa;
	text-align: center;
	font-size: 1.2vw;
	color: #223186;
	display: block;
}

.btn {
	text-decoration: none;
	color: black;
	display: inline;
}


div#content {
	background-color: #def;
	font-family: serif;
	padding: 5vw;
}

h1 {
 	background-color: #dde;
 	height: 100%;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
	width: 100%;
	font-size: 4vw;
}
.main-title {
	color: grey;
	text-decoration: none;
}

h2 {
 	height: 100%;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
	width: 100%;
	color: #ead;
	font-size: 2.5vw;
	margin-top: 0;
	margin-bottom: 2vw;
}

h3 {
	height: 100%;
	font-weight: bold;
	font-family: sans-serif;
	width: 100%;
	font-size: 2vw;
}

.error {
	color: red;
	font-size: 1.5vw;
}

label {
	display: block;
	font-size: 2vw;
}


textarea {
	width: 30vw;
	height: 30vh;
	font-size: 17px;
	font-family: monospace;
	max-width: 100%;
	max-height: 100%;
}

.login-area {
	text-align: right;
	font-family: sans-serif;
	font-size: 1.5vw;
	color: grey;
}

input[type=submit] {
	font-size: 1.5vw;
	margin-top: 1.5vw;
}

input[type=text] {
	width: 12vw;
	height: 2vh;
}

input[type=password] {
	width: 12vw;
	height: 2vh;
}

.label {
	font-family: sans-serif;
	font-size: 1.5vw;
	color: grey;
}

.option {
	font-family: sans-serif;
	font-size: 1.5vw;
	color: grey;
}

.post + .post {
    margin-top: 1vw;
}

.post-heading {
    position: relative;
    border-bottom: 2px solid #888;
}

.post-title {
	color: #a7c;
    font-size: 2.5vw;
    font-weight: bold;
}

.post-author-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
    font-size: 2vw;
}


.post-content {
    margin-top: 1vw;
    font-size: 1.5vw;
    margin-bottom: 2vh;
    padding: 1vw;
	border: 3px solid beige;
	font-weight: bold;

}

.post-area {
	display: table;
	margin: auto
}


h4 {
	font-size: 2vw;
	margin-top: 1vw;
}

.comments {
	margin-top: 3vh;
	border: 2px solid beige;
	padding: 1vw;
}

.comment {
	margin-top: 2vw;
    margin-bottom: 1vw;
}

.comment-author-date {
    font-size: 1vw;
    color: grey;
}

.comment-content {
    font-size: 1.5vw;
    color: black;
}

.new-comment {
	display: inline;
}

.comment-area {
	display: table;
	margin: auto
}

button#like-num {
	display: inline;
	color: black;
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}