<!DOCTYPE html>
<html>
	<head>
	  <link type="text/css" rel="stylesheet" href="/css/main.css" />

	  <title>Momoko's Blog App</title>
	</head>

	<body>
	  <h1><a href="/" class="main-title">Momoko's Blog App</a></h1>
	  <div id="content">
		{% block content %}
			<h2>Welcome to Momoko's Blog App</h2>
			<h3>Please choose the options below:</h3>
			<a href="/signup" class="option">Sign up</a>
			<br><br>
			<a href="/blog" class="option">Most recent posts</a>
			<br><br>
			<form method="post">
				<label class="option">A particular post
				<input type="text" name="post_id" value="{{post_id}}">
				</label>
				<div class="error">{{error}}</div>
				<input type="submit">
			</form>

			<br><br>
			<a href="/blog/newpost" class="option">Create a new post</a>
		{% endblock %}
	  </div>
	</body>

</html>

